In [1]:
import pandas as pd
import numpy as np
from geopy import geocoders as gc
def centralize(series):
    m, sigma = series.mean(), series.std()
    return (series-m)/sigma

In [2]:
fd = pd.read_excel('FD.xlsx')
fd = fd.iloc[(fd.year.between(2010, 2019)).to_list(),:] \
        .groupby(['country', 'ifs', 'imf_income']).aggregate({'FD': 'mean'}).reset_index()

In [3]:
ed = pd.read_csv('ED.csv').rename(columns = {'Unnamed: 9': 'ED', 'Country Code': 'ifs'}) \
                        .query('`Indicator Code` == "total_theil"')
ed.loc[:, 'ED'] = ed.loc[:,['2011', '2012', '2013', '2014']].apply('mean', axis = 1)
ed = ed.loc[:, ['Country Name', 'ifs', 'ED']]

In [4]:
data = ed.merge(fd, on = 'ifs').drop('Country Name', axis = 1)

In [5]:
data.loc[:, 'ED'] = -1*centralize(data.loc[:, 'ED'])
data.loc[:, 'FD'] = centralize(data.loc[:, 'FD'])
data.loc[:, 'score'] = (data.ED + data.FD)/2

In [6]:
em = data.sort_values(by = 'score', ascending = False).loc[data.loc[:, 'imf_income'] == 'EM'].reset_index(drop = True)

In [7]:
av = data.groupby(['imf_income']).agg({'score':'mean'})
in_eu = ['Bulgaria', 'Croatia', 'Poland', 'Bosnia and Herzegovina', 'Romania', 'Hungary', 'North Macedonia']

In [8]:
em = em.iloc[[(i not in in_eu) and (j > av.loc['EM'].values.item()) for i, j in zip(em.country, em.score)], [2,1,4,5]] \
.reset_index(drop = True)
em

                 country        ED        FD     score
0               Thailand  1.288383  1.613700  1.451041
1                  China  1.272366  1.179024  1.225695
2                 Turkey  1.457791  0.726119  1.091955
3               Malaysia  0.691675  1.486783  1.089229
4                 Brazil  0.804054  1.343082  1.073568
5           South Africa  0.765030  0.991371  0.878201
6                  India  1.092244  0.558943  0.825593
7                 Jordan  1.035307  0.294491  0.664899
8                 Panama  0.832553  0.398709  0.615631
9                 Mexico  0.880720  0.292634  0.586677
10              Barbados  0.660903  0.493256  0.577080
11             Indonesia  1.029346  0.099120  0.564233
12               Lebanon  1.089207 -0.091116  0.499046
13               Vietnam  0.770339  0.199152  0.484745
14               Namibia  0.104294  0.852470  0.478382
15               Ukraine  1.247375 -0.460292  0.393542
16                 Chile -0.064722  0.790021  0.362649
17             Argentina  0.833902 -0.119574  0.357164
18               Morocco  0.524659  0.087770  0.306215
19             Guatemala  0.970781 -0.403853  0.283464
20             Mauritius  0.089011  0.466791  0.277901
21                  Peru  0.452803  0.100701  0.276752
22      Egypt, Arab Rep.  0.700286 -0.154201  0.273042
23           Philippines  0.358779  0.112054  0.235417
24    Russian Federation -0.313527  0.771449  0.228961
25  United Arab Emirates -0.233682  0.668966  0.217642
26               Bahrain -0.033611  0.427259  0.196824
27               Tunisia  0.685209 -0.407795  0.138707
28               Uruguay  0.607093 -0.361591  0.122751
29    Dominican Republic  0.916433 -0.695972  0.110231
30               Georgia  0.377401 -0.298363  0.039519
31          Bahamas, The -0.522789  0.518106 -0.002342
32             Sri Lanka  0.271089 -0.299565 -0.014238
33              Colombia -0.252542  0.222919 -0.014812
34              Pakistan  0.435025 -0.487007 -0.025991

In [9]:
em.to_excel('em.xlsx')

In [9]:
fd

                country  ifs          imf_income        FD
0                    AM   11                  AM  0.641418
1                Africa   14              Africa  0.148326
2               Albania  914                  EM  0.200531
3               Algeria  612                  EM  0.132419
4         All countries    1       All countries  0.317279
..                  ...  ...                 ...       ...
187       Venezuela, RB  299                  EM  0.248332
188             Vietnam  582                  EM  0.366168
189  Western Hemisphere   18  Western Hemisphere  0.317048
190         Yemen, Rep.  474                 LIC  0.109915
191              Zambia  754                 LIC  0.188884

[192 rows x 4 columns]