In [1]:
import pandas as pd
import numpy as np

In [2]:

data = pd.read_excel('trilemma.xlsx').dropna().set_axis(['id', 'year', 'ers', 'mi', 'fo', 'name'], axis = 1) \
        .query('year in [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]', engine = 'python') \
        .groupby(['name']).agg({'ers':'mean', 'mi':'mean', 'fo':'mean'}).reset_index()

In [3]:
mi = data.query('fo > 0.80 and ers < mi').name.to_list()
x = mi[0]
for i in mi:
    i = i.replace(', The', '')
    x = x + ', ' + i
x

'Armenia, Armenia, Australia, Botswana, Cambodia, Canada, Gambia, Georgia, Germany, Guatemala, Israel, Japan, Korea, Rep., Liberia, New Zealand, Romania, Singapore, Switzerland, Uganda, Uruguay, Zambia'

In [4]:
mi = data.query('fo > 0.80 and ers > mi').name.to_list()
x = mi[0]
for i in mi:
    i = i.replace(', Rep.', '')
    x = x + ', ' + i
x

'Austria, Austria, Bahrain, Belgium, Bulgaria, Costa Rica, Cyprus, Czech Republic, Denmark, Dominican Republic, Estonia, Finland, France, Greece, Guyana, Haiti, Hong Kong, China, Hungary, Ireland, Italy, Jordan, Latvia, Lithuania, Malta, Micronesia, Fed. Sts., Netherlands, Nicaragua, Norway, Oman, Panama, Peru, Portugal, Qatar, Seychelles, Spain, Sweden, Trinidad and Tobago, United Kingdom, Yemen'

In [8]:
mi = data.query('fo < 0.3 and (ers > 0.5 or mi > 0.5)').name.to_list()
x = mi[0]
for i in mi:
    i = i.replace(', Rep.', '')
    x = x + ', ' + i
x

"Aruba, Aruba, Bahamas, The, Bangladesh, Barbados, Belarus, Belize, Benin, Bhutan, Brazil, Burkina Faso, Burundi, C?e d'Ivoire, Cameroon, Central African Republic, Chad, China, Comoros, Congo, Dem. Rep., Congo, Equatorial Guinea, Gabon, Grenada, Guinea, Honduras, India, Kazakhstan, Lao PDR, Lesotho, Mali, Mauritania, Moldova, Morocco, Mozambique, Namibia, Nepal, Niger, Nigeria, Samoa, Senegal, Sierra Leone, Solomon Islands, St. Kitts and Nevis, St. Vincent and the Grenadines, Suriname, Swaziland, Tajikistan, Tanzania, Togo, Tunisia, Ukraine, Uzbekistan, Venezuela, RB"

In [13]:
mi = data.query('fo < 0.5 and ers < 0.5 and mi < 0.5').name.to_list()
x = mi[0]
for i in mi:
    i = i.replace(', Rep.', '')
    x = x + ', ' + i
x

'Algeria, Algeria, Angola, Argentina, Colombia, Egypt, Arab Rep., Fiji, Ghana, Guinea-Bissau, Iran, Islamic Rep., Libya, Madagascar, Malawi, Malaysia, Myanmar, Pakistan, Philippines, South Africa, Sri Lanka, Thailand, Turkey'

In [19]:
data.query('fo > 0.8 or fo < 0.2').shape[0]/data.shape[0]

0.7300613496932515

In [8]:
data.query('name == "United Kingdom" or name == "Australia"')

               name       ers        mi        fo
6         Australia  0.253953  0.465377  0.880064
156  United Kingdom  0.344569  0.262781  1.000000